# Angular
/AngularFrontend/node_modules
/AngularFrontend/dist
/AngularFrontend/.angular

# Django
/DjangoBackend/__pycache__
/DjangoBackend/*.pyc
/DjangoBackend/*.pyo
/DjangoBackend/*.pyd
/DjangoBackend/media
/DjangoBackend/static
/DjangoBackend/env

# Visual Studio Code
.vscode/
*.code-workspace

