* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.conteiner {
    max-width: 12000px;
    margin: 0 auto;
    margin-left: 40px;
}

.back {
    padding: 32px 0;
    background-color: #080aa3;
}

.merakt {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.conteiner .nave ul li {
    position: relative;
    float: left;
    margin-right: -1170px;
}

.conteiner .nave ul {
    padding: 0;
    margin: 0;
}

.conteiner .nave ul li a {
    font-size: 16px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1170px;
    margin-top: -43px;
}

.conteiner .nave ul li a:hover {
    color: rgb(156, 0, 0);
}
.conteiner1 {
    max-width: 400px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 580px;
}

input {
    width: 500px;
    padding: 10px;
    padding-right: 200px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
}

.conteiner1 input {
    margin-top: -33px;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}

.conteiner2 {
    margin-left: 480px;
    margin-top: 210px;
}

.conteiner3 {
    margin-left: 700px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.boton {
    width: 10px;
    font-weight: 700;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #080aa3;
    border: 3px solid;
    color: #FFFFFF;
    text-decoration: none;
}
