<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <header>
        <div class="back">
            <div class="conteiner">
                <a class="merakt">MerakT Archivos</a>
                <nav class="nave">
                    <ul>
                        <li><a href="#">Iniciar Sesión</a></li>
                        <li><a href="#">Crear Cuenta</a></li>
                    </ul>
                </nav>
            </div>
            <div class="conteiner1">
                <input type="text" placeholder="Buscar...">
            </div>
        </div>
    </header>
</body>
</html>